<div class="tp-insurance-cont">
  <div class="title-bar" aria-hidden="true"></div>
  <h3>TP Insurance <a href="#" title="Add Insurance" class="img-btn-add float-right"><img
        src="/src/assets/images/icon-add.jpg" alt="Add Insurance" /></a></h3>
  <div class="geico-cont">
    <h4 class="text-left">[insurance company longname] two line example [insurance company longname]
      two line example {{mainPhoneNumber}} {{inputText}}</h4>
  </div>
  <div class="geico-cont-body">
    <form onSubmit="submit()">
      <ul>
        <li class="w100">
          <label for="phonenumber"><span>Main Phone No.</span>
            <input type="number" id="phonenumber" name="phonenumber" placeholder="000-000-0000" [(ngModel)]="mainPhoneNumber" accesskey="p"
              tabindex="1">
          </label>
        </li>
        <li>
          <label for="claim"><span>Claim</span>
            <input type="number" id="claim" name="claim" placeholder="1009982736364" accesskey="c" tabindex="2">
          </label>
          <label for="claim"><span>Type</span>
            <select id="claim" name="claim">
              <option value="" disabled>- Select Type -</option>
              <option value="1">Type 1</option>
              <option value="2" selected>Type 2</option>
              <option value="3">Type 3</option>
            </select>
          </label>
        </li>
        <li><label for="claim"><span>Status</span>
            <select id="Status" name="Status">
              <option value="" disabled>- Select Status -</option>
              <option value="1">Type 1</option>
              <option value="2" selected>Active</option>
              <option value="3">Type 3</option>
            </select>
          </label>
          <label for="Primary"><span>Primary</span>
            <input type="text" id="Primary" placeholder="Lorium Epsom" name="Primary" accesskey="c" tabindex="2">
          </label>
        </li>
        <li class="w100">
          <label for="Policy"><span>Policy</span>
            <input type="number" id="Policy" placeholder="874892948" name="Policy" tabindex="2">
          </label>
        </li>
        <li>
          <label for="Coverage"><span>Coverage</span>
            <select id="Coverage" name="Coverage">
              <option value="" disabled>- Select Status -</option>
              <option value="1">Type 1</option>
              <option value="2">Type 2</option>
              <option value="3" selected>Type 3</option>
            </select>
          </label>
          <label for="CoverageStatus1"><span>Status</span>
            <select id="CoverageStatus1" name="CoverageStatus1">
              <option value="" disabled>- Select Status -</option>
              <option value="1">Type 1</option>
              <option value="2">Type 2</option>
              <option value="3" selected>Type 3</option>
            </select>
          </label>
        </li>

        <li>
          <label for="paidoutdate"><span>Paid Out Date</span>
            <input type="date" id="paidoutdate" name="paidoutdate" tabindex="2">
          </label>
          <label for="Limits"><span>Limits</span>
            <input type="text" id="Limits" name="Limits" tabindex="2">
          </label>
        </li>
        <li class="w100">
          <label for="adjuster2">Same adjuster for all coverages <input type="checkbox" name="adjuster2" id="adjuster2"
              value="cover">
          </label>
        </li>
        <li class="w100">
          <label for="Adjuster"><span>Adjuster</span>
            <input type="text" id="Adjuster" name="Adjuster" [(ngModel)]="inputText" tabindex="2">
          </label>
        </li>
        <li>
          <label for="Phone"><span>Phone</span>
            <input type="number" id="Phone" name="Phone" tabindex="2">
          </label>
          <label for="Fax"><span>Fax</span>
            <input type="number" id="Fax" name="Fax" tabindex="2">
          </label>
        </li>
        <li class="w100">
          <label for="Email"><span>E-Mail</span>
            <input type="email" id="Email" name="Email" tabindex="2">
          </label>
        </li>
      </ul>
    </form>
  </div>
</div>