  <!-- header -->
  <div id="mainHeader">
      <header>
        <div class="container masthead">
          <!-- Brand Logo -->
          <div class="item">
            <h1 class="brand-logo">
              <a href="/" title="Conduent Logo">
                <img src="../assets/images/conduent-logo.jpg" alt="Conduent Logo" width="106" height="37" />
              </a>
            </h1>
          </div>
          <!-- /Brand Logo -->
          <!-- Global Nav -->
          <div class="item gnav text-right">
            <span class="o-bar" aria-hidden="true"></span>
            <nav>
              <ul>
                <li><a href="#" title="User Name">UserFirst UserLastname</a></li>
                <li><a href="#" title="My Account">My Account</a></li>
                <li><a href="#" title="Logout">Logout</a></li>
              </ul>
            </nav>
          </div>
          <!-- /Global Nav -->
        </div>
  
        <div class="container primary-nav-cont">
          <div class="item">
            <h2>Atlas Recovery Module</h2>
          </div>
          <div class="item primary-nav  text-right">
            <nav>
              <ul>
                <li><a href="#" title="Dashboard">Dashboard</a></li>
                <li class="active-tab"><a href="#" title="Cases">Cases</a></li>
                <li><a href="#" title="My Tasks">My Tasks</a></li>
              </ul>
            </nav>
          </div>
        </div>
  
      </header>
    </div>
    <!-- /header -->