footer {
    background-color: var(--black);
    color: var(--half-white);
    font-size: 0.7rem;
    padding: 10px 20px;
    margin-top: 2rem;
}
.footer-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer a {
    color: #999999;
    text-decoration: none;
}
footer a:first-child {
    margin-left: 2rem;
}
footer a:hover {
    color: var(--primary-color);
}
