    <!-- case-details -->
    <div class="item-0">        
        <div class="container case-details">
          
          <!-- caseCont -->
          <div class="item">              
            <section id="caseCont">                
              <div class="safe-zone">
                  <div class="bar-cont"><span class="blue-bar" aria-hidden="true"></span></div>                  
                <h3>Case ID <span>1009951</span></h3>
                <ul class="case-data">
                  <li>
                    <p>File ID<span>00000000000</span></p>
                  </li>
                  <li>
                    <p>Client ID<span>00098</span></p>
                  </li>
                  <li>
                    <p>Client Name<span>Client Name [client_company_longname]</span></p>
                  </li>
                  <li>
                    <p>Funding Type<span>[funding_type]</span></p>
                  </li>
                </ul>
              </div>
            </section>
          </div>

          <!-- /caseCont -->
          <!-- statusCont -->
          <div class="item">
            <section id="statusCont">
              <div class="safe-zone">

                <h3>Status <span>[Status] [sub status]</span></h3>
                <ul class="status-data">
                  <li>
                    <p>Group ID<span>JH788787</span></p>
                  </li>
                  <li>
                    <p>Group Name<span>[group_company_longname]</span></p>
                  </li>
                  <li>
                    <p>Claim Office ID<span>90099000</span></p>
                  </li>
                  <li>
                    <p>Claim Office Name<span>[office_company_longname]</span></p>
                  </li>
                </ul>
              </div>
            </section>
          </div>

          <!-- /statusCont -->
          <!-- accidentCont -->
          <div class="item">
            <section id="accidentCont">
              <div class="safe-zone">
                <h3>Accident <span>02/15/17</span></h3>
                <ul class="accident-data">
                  <li>
                    <form action="/" method="post">
                      <label for="claimtype">Claim Type</label>
                      <select id="claimName">
                        <option value="" disabled selected>- Select Type -</option>
                        <option value="1">Type 1</option>
                        <option value="2">Type 2</option>
                        <option value="3">Type 3</option>
                      </select></form>
                  </li>
                  <li>
                    <p>Open Date<span>02/27/17</span></p>
                  </li>
                  <li>
                    <p>EIM<span>[person_first lastlongname]</span></p>
                  </li>
                  <li>
                    <p>Case Owner<span>[specialist name]</span></p>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <!-- /accidentCont -->
          <!-- benefitCont -->
          <div class="item">
            <section id="benefitCont">
              <div class="safe-zone">

                <h3>Benefit Amount<span>$910,980.33</span></h3>
                <ul class="accident-data">
                  <li>
                    <p>Claim Amount<span> $910,980.33</span></p>
                  </li>
                  <li>
                    <p>Settlement Amount<span> $910,980.33</span></p>
                  </li>
                  <li>
                    <p>Recovered Amount<span> $10,980.33</span></p>
                  </li>
                  <li>
                    <p>Patient Names<span>[patient_first lastlongname]</span></p>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <!-- /benefitCont -->

          <!-- caseActions -->
          <div class="item case-actions">
            <section id="caseActions">
            <ul>
              <li><a href="#" title="Add Lien"><img src="/src/assets/images/icon-add-lien.jpg" alt="Add Lien" />Add Lien</a></li>
              <li><a href="#" title="Call IEM"><img src="/src/assets/images/icon-call-eim.jpg" alt="Call IEM" />Call IEM</a></li>
              <li><a href="#" title="Mail IEM"><img src="/src/assets/images/icon-mail-eim.jpg" alt="Add Lien" />Mail Lien</a></li>
              <li><a href="#" title="Refer Case"><img src="/src/assets/images/icon-refer-case.jpg" alt="Refer Case" />Refer Case</a></li>
              <li><a href="#" title="Request"><img src="/src/assets/images/icon-request.jpg" alt="Request" />Request</a></li>
              <li><a href="#" title="Companion Case"><img src="/src/assets/images/icon-comp-case.jpg" alt="Companion Case" />Companion Case</a></li>
              <li><a href="#" title="Close Case"><img src="/src/assets/images/icon-close-case.jpg" alt="Close Case" />Close Case</a></li>
              <li><a href="#" title="Skip Case"><img src="/src/assets/images/icon-skip-case.jpg" alt="Skip Case" />Skip Case</a></li>
              <li><a href="#" title="Urgent"><img src="/src/assets/images/icon-urgent.jpg" alt="Urgent" />Urgent</a></li>
              <li><a href="#" title="Exit Case"><img src="/src/assets/images/icon-exit-case.jpg" alt="Exit Case" />Exit Case</a></li>
            </ul>
          </section>
          </div>    
<!-- /caseActions -->
        </div>
    </div>
    <!-- /case-details -->