<!-- mainWrapper -->
<div id="mainWrapper">
  <app-header></app-header>
  <!-- Innercont -->
  <div id="innerCont" class="container-0">
    <app-case-details></app-case-details>
    <app-action-prompt></app-action-prompt>
  </div>
  <!-- /Innercont -->
  <!-- innerCont-1 -->

  <div id="innerCont-1" class="container-1">
    <!-- item-1a -->
    <div class="safe-zone mr20n">
      <div class="item-1 item-1a">
        <!-- item-1's 1st child -->
        <div class="item-2">
          <div class="item-3 item-3a">
            <!-- small-tabs -->
            <nav id="secNav" role="navigation">
              <ul>
                <li class="active"><a href="/" title="Lien Details">Lien Details</a></li>
                <li><a href="/" title="Claims">Claims </a></li>
                <li><a href="/" title="Documents">Documents </a></li>
                <li><a href="/" title="Case History">Case History</a></li>
                <li><a href="/" title="Case Notes">Case Notes </a></li>
                <li><a href="/" title="Settlements">Settlements</a></li>
                <li><a href="/" title="Accident Details">Accident Details</a></li>
              </ul>
            </nav>
            <!-- /small-tabs -->
          </div>
          <div class="item-3 item-3b">
            <!-- vdl-cont -->
            <div class="vdl-cont">
              <div>
                <p>View Deactivated Liens</p>
              </div>
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch"></label>
              </div>
            </div>
            <!-- /vdl-cont -->
          </div>
        </div>
        <!-- /item-1's 1st child -->

        <!-- item-1's 2nd child -->
        <div class="item-2">
          <!-- EIMI -->
          <app-eim-insurance></app-eim-insurance>
          <!-- /EIMI -->
        </div>
        <!-- /item-1's 2nd child -->
        <!-- item-1's 3rd child -->
        <div class="item-2 ">
          <!-- TPI -->
          <app-tp-insurance></app-tp-insurance>
          <!-- /TPI -->
        </div>
        <!-- /item-1's 3rd child -->
        <!-- item-1's 4th child -->
        <div class="item-2">
          <!-- EIM-Attorney -->
          <app-eim-attorney></app-eim-attorney>
          <!-- /EIM-Attorney -->
        </div>
        <!-- /item-1's 4th child -->
        <!-- item-1's 5th child -->
        <div class="item-2 tpa-wrapper">
          <!-- TP-Attorney -->
          <app-tp-attorney></app-tp-attorney>
          <!-- /TP-Attorney -->
        </div>
        <!-- /item-1's 5th child -->
      </div>
    </div>
    <!-- /item-1a -->
    <!-- item-1b -->
    <div class="safe-zone">
      <div class="item-1 item-1b">
        <app-special-handling></app-special-handling>
        <!-- Summary Tracker -->
        <app-summary-tracker></app-summary-tracker>
        <!-- /Summary Tracker -->
        <!-- Queued Actions -->
        <app-queued-actions></app-queued-actions>
        <!-- /Queued Actions -->
      </div>



    </div>
    <!-- /item-1b -->
  </div>
  <!-- /innerCont-1 -->

  <!-- footer -->
  <app-footer></app-footer>
  <!-- /footer -->


</div>
<!-- /mainWrapper -->