<div class="tp-insurance-cont">
  <div class="title-bar" aria-hidden="true"></div>
  <h3>TP Attorney <a href="#" title="Add Insurance" class="img-btn-add float-right"><img
        src="/src/assets/images/icon-add.jpg" alt="Add Insurance" /></a></h3>
  <div class="geico-cont">
    <h4 class="text-left">[attorney company longname]</h4>
    <a href="JavaScript:Void(0);" title="call"><img src="/src/assets/images/icon-w-call.jpg" alt="call" /></a>
    <a href="JavaScript:Void(0);" title="call"><img src="/src/assets/images/icon-w-mail.jpg" alt="call" /></a>
    <a href="JavaScript:Void(0);" title="call"><img src="/src/assets/images/icon-w-calc.jpg" alt="call" /></a>
    <a href="JavaScript:Void(0);" title="call"><img src="/src/assets/images/icon-w-stop.jpg" alt="call" /></a>
    <a href="JavaScript:Void(0);" title="call"><img src="/src/assets/images/icon-w-edit.jpg" alt="call" /></a>
  </div>
  <div class="geico-cont-body">
    <ul>
      <li class="w100">
        <p><span class="label">Attorney</span> <span>[adjuster_firstname_longname]</span></p>
      </li>
      <li>
        <p><span class="label">Phone</span><span>123-456-7890</span></p>
        <p><span class="label">Fax</span><span>123-456-7890</span></p>
      </li>
      <li class="w100">
        <p><span class="label">Email</span> <span>adjuster_firstname_longname@reallylong.domain.com</span></p>
      </li>
      <li class="w100">
        <p><span class="label">Address</span><span>Address 12345 Main Street, Suite 4, Cityname ST 00123</span></p>
      </li>
      <li>
        <p><span class="label">Status</span><span>Inactive</span></p>
        <p><span class="label">Next Court Date</span><span>[value]</span></p>
      </li>
      <li class="w100">
        <p><span class="label">Legal Assistant</span><span>[legal_firstname_longname]</span></p>
      </li>
      <li class="w100">
        <p><span class="label">Linked to 3rd Party</span> <span>[thirdparty_company_longname]</span></p>
      </li>
    </ul>
  </div>
</div>