<div class="tp-insurance-cont">
  <div class="title-bar" aria-hidden="true"></div>
  <h3>TP Attorney <a href="#" title="Add Insurance" class="img-btn-add float-right"><img
        src="/src/assets/images/icon-add.jpg" alt="Add Insurance" /></a></h3>
  <div class="geico-cont">
    <h4 class="text-left">[attorney company longname]</h4>
  </div>
  <div class="geico-cont-body">
    <form onSubmit="submit()">
      <ul>
        <li class="w100">
          <label for="phonenumber">Main Phone Number
            <input type="text" id="phonenumber" name="phonenumber" accesskey="p" tabindex="1">
          </label>
        </li>
        <li>
          <label for="claim">Claim
            <input type="text" id="claim" name="claim" accesskey="c" tabindex="2">
          </label>
          <label for="claim">Type
            <select id="claim" name="claim">
              <option value="" disabled selected>- Select Type -</option>
              <option value="1">Type 1</option>
              <option value="2">Type 2</option>
              <option value="3">Type 3</option>
            </select>
          </label>
        </li>
        <li><label for="claim">Status
            <select id="Status" name="Status">
              <option value="" disabled selected>- Select Status -</option>
              <option value="1">Type 1</option>
              <option value="2">Type 2</option>
              <option value="3">Type 3</option>
            </select>
          </label>
          <label for="Primary">Primary
            <input type="text" id="Primary" name="Primary" accesskey="c" tabindex="2">
          </label>
        </li>
        <li class="w100">
          <label for="Policy">Policy
            <input type="text" id="Policy" name="Policy" tabindex="2">
          </label>
        </li>
        <li>
          <label for="Coverage">Coverage
            <select id="Coverage" name="Coverage">
              <option value="" disabled selected>- Select Status -</option>
              <option value="1">Type 1</option>
              <option value="2">Type 2</option>
              <option value="3">Type 3</option>
            </select>
          </label>
          <label for="CoverageStatus">CoverageStatus
            <select id="CoverageStatus" name="CoverageStatus">
              <option value="" disabled selected>- Select Status -</option>
              <option value="1">Type 1</option>
              <option value="2">Type 2</option>
              <option value="3">Type 3</option>
            </select>
          </label>
        </li>

        <li>
          <label for="paidoutdate">Paid Out Date
            <input type="text" id="paidoutdate" name="paidoutdate" tabindex="2">
          </label>
          <label for="Limits">Limits
            <input type="text" id="Limits" name="Limits" tabindex="2">
          </label>
        </li>
        <li class="w100">
          <label for="adjuster2">Same adjuster for all coverages <input type="checkbox" name="adjuster2" id="adjuster2"
              value="cover">
          </label>
        </li>
        <li class="w100">
          <label for="Adjuster">Adjuster
            <input type="text" id="Adjuster" name="Adjuster" tabindex="2">
          </label>
        </li>
        <li>
          <label for="Phone">Phone
            <input type="text" id="Phone" name="Phone" tabindex="2">
          </label>
          <label for="Fax">Fax
            <input type="text" id="Fax" name="Fax" tabindex="2">
          </label>
        </li>
        <li class="w100">
          <label for="Email">Email
            <input type="text" id="Email" name="Email" tabindex="2">
          </label>
        </li>
      </ul>
    </form>
  </div>
</div>