<div class="eim-insurance-cont">
  <div class="title-bar" aria-hidden="true"></div>
  <h3>EIM Insurance <a href="#" title="Add Insurance" class="img-btn-add float-right"><img
        src="/src/assets/images/icon-add.jpg" alt="Add Insurance" /></a></h3>
  <div class="geico-cont">
    <h4>Geico</h4>
    <a href="#" title="call"><img src="/src/assets/images/icon-w-call.jpg" alt="call" /></a>
    <a href="#" title="call"><img src="/src/assets/images/icon-w-mail.jpg" alt="call" /></a>
    <a href="#" title="call"><img src="/src/assets/images/icon-w-calc.jpg" alt="call" /></a>
    <a href="#" title="call"><img src="/src/assets/images/icon-w-stop.jpg" alt="call" /></a>
    <a href="#" title="call"><img src="/src/assets/images/icon-w-edit.jpg" alt="call" /></a>
  </div>
  <div class="geico-cont-body">
    <ul>
      <li class="w100">
        <p><span class="label">Main Phone No.</span><span> 800-207-7847</span></p>
      </li>
      <li>
        <p><span class="label">Claim</span><span>1009982736364</span></p>
        <p><span class="label">Type</span><span>[Claim Type]</span></p>
      </li>
      <li>
        <p><span class="label">Status</span><span>Acknowledged</span></p>
        <p><span class="label">Primacy</span><span>[value]</span></p>
      </li>
      <li>
        <p><span class="label">Policy</span><span>90099000</span></p>
      </li>
      <li>
        <p><a href="#" title="some title"><img src="/src/assets/images/icon-s-add.jpg" height="25" width="25"
              alt="add" /></a>
          <a href="#" title="some title"><img src="/src/assets/images/icon-s-edit.jpg" height="25" width="25"
              alt="edit" /></a>
          <a href="#" title="some title"><img src="/src/assets/images/icon-s-remove.jpg" height="25"
              width="25" alt="remove" /></a>
          Coverage<span>MP</span></p>
      </li>

      <li>
        <p><span class="label">Status</span> <span>Open</span></p>
      </li>
      <li class="w100">
        <p>Same adjuster for all coverages<span><input type="checkbox" name="sacover" value="cover"></span>
        </p>
      </li>
      <li class="w100">
        <p><a href="#" title="some title"><img src="/src/assets/images/icon-add.jpg" alt="add" /></a>
          <a href="#" title="some title"><img src="/src/assets/images/icon-edit.jpg" alt="edit" /></a>
          <a href="#" title="some title"><img src="/src/assets/images/icon-remove.jpg" alt="remove" /></a>
          Same adjuster for all coverages</p>
      </li>
      <li>
        <p><span class="label">Phone</span><span>123-456-7890</span></p>
        <p><span class="label">Type</span><span>123-456-7890</span></p>
      </li>
      <li class="w100">
        <p><span class="label">Email</span> <span>adjuster_firstname_longname@reallylong.domain.com</span></p>
      </li>
    </ul>
  </div>
</div>