<!-- action-prompt -->
<div class="item-0 pt-0">
  <div class="container action-prompt-details">
    <div class="item">
      <div class="safe-zone">
        <span class="o-bar" aria-hidden="true"></span>
        <h3>Action Prompt</h3>
        <p>Medpay Demand Letter sent on [dates] to [lien party]. Lien has not been acknowledged for liened parties
          noted.
          Place a call to each lien party to obtain lien acknowledgment.</p>
        <p>Benefits have been updated; check to see if MP/PIP is available. If available, send MP Demand Letter.
          If exhausted, check for duplicate payments to providers and pursue providers where duplicate payments have
          been made.</p>
      </div>
    </div>
  </div>
</div>
<!-- /action-prompt -->